<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="container-fluid bg-dark">
        <div class="container d-flex flex-wrap align-items-center justify-content-between py-3">
          <a href="#" class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
            <h1 class="fs-4 text-light">PCS SALE</h1>
          </a>
          <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/user/home}" class="nav-link text-light" >HOME</a></li>
            <li class="nav-item"><a  th:href="@{/user/shop}" class="nav-link text-light">SHOP</a></li>
            <li class="nav-item"><a th:href="@{/user/cart(id=${userid})}" class="btn btn-primary btn-block">View Cart</a>
            </li>
          </ul>
        </div>
      </header>
    <div class="container">
        <h1 class="mt-5 mb-4">Payment Result</h1>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
